/*Structure*/
.center-all {
    text-align: center;
}

.panel-logo {
    padding: 0px 15px 15px 15px;
}

/*Forms*/
.btn-radio {
    width: 100%;
    margin-bottom: 20px;
}
.img-radio {
    opacity: 0.5;
    margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}

.signature-line {
    border-bottom: 2px solid #000000;
}

.primary-nav {
    margin: 20px;
}

.success-message {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
}